language: python
# cache: pip
notifications:
  email: false
dist: xenial
sudo: false
python:
  - 2.7
  - pypy
  - 3.4
  - 3.5
  - 3.6
  - 3.7
  - pypy3
matrix:
  include:
    - python: 2.7
      dist: trusty
      virtualenv:
        system_site_packages: true
      addons:
        apt:
          packages:
            - python-requests
            - python-coverage
            - python-mock
    - python: 3.7
      dist: xenial
      script: make format

install:
  - pip install -r tests/requirements.txt
  - python setup.py install
script:
  - make reinstall
  - make test
  # - pytest tests/test.py --cov=codecov
after_success:
  - codecov
