language: python
notifications:
  email: false
sudo: false
python:
  - 2.6
  - 2.7
  - pypy
  - 3.3
  - 3.4
  - pypy3
matrix:
  include:
    - python: 2.7
      dist: trusty
      sudo: required
      virtualenv:
        system_site_packages: true
      addons:
        apt:
          packages:
            - python-requests
            - python-coverage
            - python-mock

install:
  - pip install -r tests/requirements.txt
  - python setup.py install
script:
  - py.test tests/test.py --cov=codecov
after_success:
  - codecov
